.nextpage {
    font-family: 'Candara', 'Calibri', sans-serif;
    color: rgb(77, 102, 83);
    background-color: rgb(237, 245, 225);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .par {
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  