.page {
    font-family: 'Candara', 'Calibri', sans-serif;
    color: rgb(77, 102, 83);
    background-color: rgb(237, 245, 225);
    /*position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;*/
}
.intro {
    display: flex;
    padding: 50px;
    align-items: center; /* Align items vertically in the center */
  }
  
  .title_par {
    font-size: larger;
  }

  .text {
    margin-right: 20px; /* Adjust the margin as needed */
  }

.image {
    padding: 50px;
}

.lg {
    padding: 20px;
    justify-content: flex-end;
}